.travel-container {
  padding: 30px;
  text-align: center;
}

.travel-btn {
  width: 100%;
  padding: 18px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
}

.travel-btn:hover {
  background: #0056b3;
}
