.cust-status-container {
  padding: 30px;
  text-align: center;
}

.cust-status-container ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.cust-status-container li {
  margin-bottom: 10px;
  font-size: 18px;
}
