.arrival-container {
  padding: 30px;
  text-align: center;
}

.arrival-btn {
  width: 100%;
  padding: 18px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
}

.arrival-btn:hover {
  background: #1e7e34;
}
